influx-mock/influxdb2-config/*
influx-mock/influxdb2-data/*
influx-mock/.~lock*

!influx-mock/influxdb2-config/dummy.txt
!influx-mock/influxdb2-data/dummy.txt

mosquitto/config/*
mosquitto/data/*
mosquitto/log/*

!mosquitto/config/mosquitto.conf
!mosquitto/config/dummy.txt
!mosquitto/config/passwd_file

!mosquitto/data/dummy.txt
!mosquitto/log/dummy.txt

.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
